<ion-pane class="art">
   <!-- 头部  t -->
  <ion-header-bar class="bar-assertive header">
    <i>筛选</i>
    <label class="row" >
      <i class="icon ion-gear-a"></i>
      <input type="text">
      <i class="icon ion-gear-a"></i>
    </label>
    <i >关注</i>
  </ion-header-bar>
  <!-- 内容区 -->
  <ion-content>
    <ion-slide-box  auto-play="true" does-continue="true">
      <ion-slide>
          <p><img src="http://placehold.it/320x160" /></p>
      </ion-slide>
      <ion-slide>
          <p><img src="http://placehold.it/320x160" /></p>
      </ion-slide>
      <ion-slide>
          <p><img src="http://placehold.it/320x160" /></p>
      </ion-slide>
    </ion-slide-box>
    <!-- 中间导航部分nav -->
    <ul class="row list anav">
      <li class="col ">
        <i><img src="http://placehold.it/40x40"></i>
        原创
      </li>
      <li class="col">
        <i><img src="http://placehold.it/40x40"></i>
        原创
      </li>
      <li class="col">
        <i><img src="http://placehold.it/40x40"></i>
        原创
      </li>
      <li class="col">
        <i><img src="http://placehold.it/40x40"></i>
        原创
      </li>
      <li class="col">
        <i><img src="http://placehold.it/40x40"></i>
        原创
      </li>
    </ul>
    <!-- 各个分标签 -->
    <h6 class="item-divider">值无不言</h6>
    <ion-scroll zooming="true" direction="x" scrollbar-x="false">
      <ul class="row" direction="x">
        <li class="padding">
          <i><img src="http://placehold.it/80x140"></i>
        </li>
        <li class="padding">
          <i><img src="http://placehold.it/80x140"></i>
        </li>
        <li class="padding">
          <i><img src="http://placehold.it/80x140"></i>
        </li>
        <li class="padding">
          <i><img src="http://placehold.it/80x140"></i>
        </li>
        <li class="padding">
          <i><img src="http://placehold.it/80x140"></i>
        </li>
        <li class="padding">
          <i><img src="http://placehold.it/80x140"></i>
        </li>
      </ul>
    </ion-scroll>
  </ion-content>
</ion-pane>
