
  <ion-pane>
    <ion-header-bar class="bar-assertive ">
      <span>什么值得买</span>
    </ion-header-bar>
      <ion-content scrollbar-y="false">
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
       首页<br/>
    </ion-content>
  </ion-pane>
