
<ion-pane class="my">
  <ion-header-bar class="bar-assertive">
    <button style="display:none;" class="button button-clear button-icon ion-gear-a"></button>
    <button class="button button-clear button-icon ion-gear-a"></button>
  </ion-header-bar>
  <ion-content scrollbar-y="false" >
    <ion-list class="list list-assertive">
      <ion-item class="item item-avatar item-assertive">
        <img src="http://placehold.it/58x58" alt="">
        <h2 class="icon button button-assertive ion-ios-arrow-forward icon-right">立即登录</h2>
        <p>SMZDM参与值友互动、签到抽大奖</p>
      </ion-item>
    </ion-list>
    <div class="row">
      <div class="col col-67">
        <div class="row">
          <div class="col col-lis">
            <div>
              <img src="http://placehold.it/16x16" alt="">
              <span>幸运屋</span>
            </div>
            <p>高端精货 幸运抽奖</p>
          </div>
          <div class="col col-lis">
            <img src="http://placehold.it/16x16" alt="">
            <span>我的礼包</span>
            <p>高端精货 幸运抽奖</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-lis">
            <img src="http://placehold.it/16x16" alt="">
            <span>优惠券</span>
            <p>高端精货 幸运抽奖</p>
          </div>
          <div class="col col-lis">
            <img src="http://placehold.it/16x16" alt="">
            <span>礼品兑换</span>
            <p>高端精货 幸运抽奖</p>
          </div>
        </div>
      </div>
      <div class="col col-avatar">
        <img src="http://placehold.it/88x88" alt="">
        <p><span>· </span> 规则说明 <span> ·</span></p>
      </div>
    </div>


    <div class="my-midlle padding">
      <div class="row">
        <div class="col midlle-box">收藏</div>
        <div class="col midlle-box margin-left">爆料</div>
        <div class="col midlle-box margin-left">众测</div>
      </div>

      <div class="row middle-bottom">
        <div class="col midlle-box margin-top">原创</div>
        <div class="col midlle-box margin-top margin-left">闲置</div>
        <div class="col midlle-box margin-top margin-left">百科</div>
      </div>
    </div>
    <div class="row my-tab">
      <div class="col active">系统消息</div>
      <div class="col">我的消息</div>
      <div class="col">收到评论</div>
      <div class="col">发出评论</div>
    </div>
    <div class="my-bottom">
        请先登录
    </div>
  </ion-content>
</ion-pane>
