<ion-pane class="goods">
  <ion-header-bar class="bar-assertive row">
    <h1 class="h1 col">什么值得买</h1>
    <div>
      <button class="button button-icon ion-ios-minus-outline"></button>
      <button class="button button-icon ion-ios-minus-outline"></button>
      <button class="button button-icon ion-navicon"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col toplist">
        <img src="http://placehold.it/80x80" alt="">
        电脑数码
      </div>
      <div class="col toplist">
        <img src="http://placehold.it/80x80" alt="">
        家用电器
      </div>
      <div class="col toplist">
        <img src="http://placehold.it/80x80" alt="">
        时尚运动
      </div>
      <div class="col toplist">
        <img src="http://placehold.it/80x80" alt="">
        母婴百货
      </div>
      </div>
      <div class="padding">好物头条</div>
      <ion-scroll zomming="true" direction="x" scrollbar-x="false">
        <ul class="row">
          <li class="col"><img src="http://placehold.it/120x60" alt="" /></li>
          <li class="col"><img src="http://placehold.it/120x60" alt="" /></li>
          <li class="col"><img src="http://placehold.it/120x60" alt="" /></li>
          <li class="col"><img src="http://placehold.it/120x60" alt="" /></li>
          <li class="col"><img src="http://placehold.it/120x60" alt="" /></li>
          <li class="col"><img src="http://placehold.it/120x60" alt="" /></li>
          <li class="col"><img src="http://placehold.it/120x60" alt="" /></li>
          <li class="col"><img src="http://placehold.it/120x60" alt="" /></li>
          <li class="col"><img src="http://placehold.it/120x60" alt="" /></li>
          <li class="col"><img src="http://placehold.it/120x60" alt="" /></li>
        </ul>
      </ion-scroll>
  </ion-content>
</ion-pane>
