
  <ion-pane class="home">
    <ion-header-bar class="bar-assertive ">
      <span>什么值得买</span>
    </ion-header-bar>
      <ion-content scrollbar-y="false">
      	<ion-banner class="swiper">
          <ion-slide-box auto-play="true" does-continue="true">
            <ion-slide>
              <p><img src="http://placehold.it/320x158" /></p>
            </ion-slide>
            <ion-slide>
              <p><img src="http://placehold.it/320x158" /></p>
            </ion-slide>
            <ion-slide>
              <p><img src="http://placehold.it/320x158" /></p>
            </ion-slide>
          </ion-slide-box>

          <ion-footer-bar>
      			123
      		</ion-footer-bar>
      	</ion-banner>

      <ion-nav class="nav">
        <i>
          <img src="http://placehold.it/26x26"/>
        </i>
      </ion-nav>

     <ion-list>
       <div class="jiao"></div>
       <p>有好价</p>
     </ion-list>

    </ion-content>
  </ion-pane>
